@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos generales */
body {
    background-image: url('../img/img-primary/portada3.png');
}


header {
    /* background: url('../img/img-primary/portada1.jpg') no-repeat center center;
    background-size: cover; */
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    position: relative;
    z-index: 1;
}

.logo {
    text-align: center;
}

/* Estilos adicionales para tu logo si es necesario */
.logo img {
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background: #2e4053;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo-navbar {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    header {
        display: none;
    }

    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #2e4053;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

/* Estilos para el menú fijo en la parte superior */
#fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2e4053;
    z-index: 1000;
    transition: top 0.3s;
}

#fixed-menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#fixed-menu ul li {
    margin: 0 5px;
}

#fixed-menu ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

#fixed-menu ul li a.active,
#fixed-menu ul li a:hover {
    color: #111;
    background: #fff;
}
