<div class="content-information">
    <div class="title">
        <h2>Teorema Trigonometricas Basicas...</h2>
    </div>
    <div class="example-section">
        <div class="img-example">
            <img src="../../img/img-teoremas/tigonometricas_basicas.jpeg" alt="Ejemplo 1">
        </div>
        <div class="example-description">
            <h2>Teorema del Seno</h2>
            <p>
                Descripción: El Teorema del Seno establece que en un triángulo, la razón entre la longitud de un lado y
                el seno del ángulo opuesto es constante. Matemáticamente, se expresa como a/sen(A) = b/sen(B) =
                c/sen(C), donde 'a', 'b' y 'c' son las longitudes de los lados, y 'A', 'B' y 'C' son las medidas de los
                ángulos opuestos respectivamente.
            </p>
            <h2>Teorema del Coseno</h2>
            <p>
                Descripción: El Teorema del Coseno relaciona las longitudes de los lados de un triángulo con el coseno
                de un ángulo y se expresa como c^2 = a^2 + b^2 - 2ab * cos(C), donde 'c' es la longitud del lado opuesto
                al ángulo 'C' y 'a' y 'b' son las longitudes de los otros dos lados.
            </p>
            <h2>Teorema de la Tangente</h2>
            <p>
                Descripción: El Teorema de la Tangente establece que en un triángulo rectángulo, la tangente de un
                ángulo agudo es igual a la razón entre los catetos opuestos y adyacentes a ese ángulo. Matemáticamente,
                se expresa como tan(A) = a/b = b/a, donde 'A' es el ángulo agudo, 'a' es la longitud del cateto opuesto
                a 'A', y 'b' es la longitud del cateto adyacente a 'A'.
            </p>
            <h2>Teorema de Pitágoras</h2>
            <p>
                Descripción: El Teorema de Pitágoras es uno de los teoremas más conocidos en trigonometría y geometría.
                Establece que en un triángulo rectángulo, el cuadrado de la longitud de la hipotenusa (el lado opuesto
                al ángulo recto) es igual a la suma de los cuadrados de las longitudes de los catetos. Matemáticamente,
                se expresa como c^2 = a^2 + b^2, donde 'c' es la longitud de la hipotenusa y 'a' y 'b' son las
                longitudes de los catetos.
            </p>
            <h2>Teorema de las Funciones Trigonométricas Recíprocas</h2>
            <p>
                Descripción: Este teorema establece las relaciones entre las funciones trigonométricas recíprocas. Por
                ejemplo, si sen(A) = 1/csc(A), cos(A) = 1/sec(A), y tan(A) = 1/cot(A).
            </p>
        </div>
    </div>
    <div class="input-help">
        <a href="#" class="ejemplo-a">Ver Ejemplo</a>
    </div>
</div>