<div class="content-information">
  <div class="title">
    <h2>Teorema Logaritmicas y Exponenciales</h2>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-teoremas/loga_expo.jpeg" alt="Ejemplo 1">
    </div>
    <div class="example-description">
      <h2>Teorema del Logaritmo Natural</h2>
      <p>
        Descripción: El Teorema del Logaritmo Natural establece que el logaritmo de un producto de dos números es igual
        a la suma de los logaritmos de esos números. Matemáticamente, se expresa como: ln(ab) = ln(a) + ln(b). Este
        teorema es fundamental en el cálculo y se utiliza para simplificar el cálculo de logaritmos de productos.
      </p>
      <h2>Teorema de Cambio de Base</h2>
      <p>
        Descripción: El Teorema de Cambio de Base es una herramienta que permite cambiar la base de un logaritmo a una
        base diferente. Si tienes un logaritmo en base "a" y deseas convertirlo a base "b," puedes utilizar la siguiente
        fórmula: log_b(x) = [log_a(x)] / [log_a(b)]. Esto es útil cuando trabajas con logaritmos en bases diferentes.
      </p>
      <h2>Teorema de los Exponentes</h2>
      <p>
        Descripción: El Teorema de los Exponentes se utiliza para simplificar las operaciones con exponentes. Para dos
        números reales positivos "a" y "b" y un exponente "n," este teorema establece que (a^m) * (a^n) = a^(m + n).
        También se aplica para la división de exponentes: (a^m) / (a^n) = a^(m - n). Este teorema es útil para
        simplificar expresiones con potencias.
      </p>
      <h2>Teorema de la Identidad Exponencial</h2>
      <p>
        Descripción: El Teorema de la Identidad Exponencial es una expresión que relaciona las funciones exponenciales y
        logarítmicas. Afirma que si e es la base del logaritmo natural, entonces e^(ln(x)) = x. Esto implica que la
        función exponencial y la función logarítmica son inversas una de la otra.
      </p>
      <h2>Teorema de los Logaritmos Combinados</h2>
      <p>
        Descripción: El Teorema de los Logaritmos Combinados se usa para combinar varios logaritmos en una sola
        expresión. Si tienes logaritmos en la misma base, puedes combinarlos aplicando las reglas de los exponentes.
        Matemáticamente, log_a(b) + log_a(c) = log_a(b * c).
      </p>
      <h2>Teorema del Crecimiento y Decrecimiento Exponencial</h2>
      <p>
        Descripción: Este teorema describe el comportamiento de las funciones exponenciales. Una función exponencial con
        una base mayor que 1 crece de manera indefinida a medida que x se acerca al infinito, mientras que si la base
        está entre 0 y 1, la función decae a medida que x se acerca al infinito negativo.
      </p>
    </div>
  </div>
  <div class="input-help">
    <a href="#" class="ejemplo-a">Ver Ejemplo</a>
  </div>
</div>