<div class="content-information">
  <div class="title">
    <h2>Teorema de Integracion...</h2>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-teoremas/integracion.jpeg" alt="Ejemplo 1">
    </div>
    <div class="example-description">
      <!-- Teorema Fundamental del Cálculo -->
      <h2>Teorema Fundamental del Cálculo</h2>
      <p>
        <strong>Descripción:</strong> El Teorema Fundamental del Cálculo es uno de los pilares del cálculo integral.
        Establece que si una función <i>f(x)</i> es continua en un intervalo cerrado <i>[a, b]</i>, y <i>F(x)</i> es una
        función antiderivada de
        <i>f(x)</i>, entonces la integral definida de <i>f(x)</i> en ese intervalo está relacionada con la diferencia de
        <i>F(x)</i> en los límites del intervalo de la siguiente manera:
      </p>
      <p>
        ∫<sub>a</sub><sup>b</sup> f(x)dx = F(b) - F(a).
      </p>
      <p>
        En otras palabras, puedes calcular la integral definida de una función encontrando una antiderivada y evaluando
        esta antiderivada en los límites del intervalo.
      </p>
      <!-- Teorema del Valor Medio del Cálculo Integral -->
      <h2>Teorema del Valor Medio del Cálculo Integral</h2>
      <p>
        Descripción: Este teorema establece que si una función <i>f(x)</i> es continua en un intervalo cerrado [a, b],
        entonces existe al menos un valor <i>c</i> en el intervalo abierto (a, b) tal que la integral definida de
        <i>f(x)</i> en ese intervalo es igual a <i>f(c)</i> multiplicado por la longitud del intervalo:
      </p>
      <p>
        ∫<sub>a</sub>⁡<i>f(x)</i> dx = <i>f(c)</i> (b - a).
      </p>
      <p>
        En otras palabras, hay al menos un valor <i>c</i> en el intervalo donde la función alcanza su promedio en
        términos de la integral definida.
      </p>
      <!-- Teorema de Cambio de Variable -->
      <h2>Teorema de Cambio de Variable</h2>
      <p>
        Descripción: El Teorema de Cambio de Variable, también conocido como la regla de sustitución, se utiliza para
        resolver integrales definidas e indefinidas mediante una transformación de las variables de integración. Es
        especialmente útil cuando se enfrentan integrales con funciones compuestas o más complicadas.
      </p>
      <p>
        La fórmula general para el teorema de cambio de variable es:
      </p>
      <p>
        ∫<sub>a</sub><sup>b</sup> f(x)dx = ∫ f(c) (b - a)dx,
      </p>
      <p>
        donde u es la variable transformada y g(u) es la función de cambio de variable.
      </p>
      <!-- Teorema de Integración por Partes -->
      <h2>Teorema de Integración por Partes</h2>
      <p>
        Descripción: El Teorema de Integración por Partes es una regla que permite calcular integrales definidas e
        indefinidas de productos de dos funciones. La fórmula general del teorema de integración por partes es:
      </p>
      <p>
        ∫<sub>a</sub>⁡\(udv = uv - ∫vdu\),
      </p>
      <p>
        donde (u) y (v) son funciones diferenciables.
      </p>
    </div>
  </div>
  <div class="input-help">
    <a href="#" class="ejemplo-a">Ver Ejemplo</a>
  </div>
</div>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>