<div class="content-information">
  <div class="title">
    <h2>Teorema Polinomiales...</h2>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-teoremas/polinomiales.jpeg" alt="Ejemplo 1">
    </div>
    <div class="example-description">
      <h2>Teorema Fundamental del Álgebra</h2>
      <p>
        Descripción: Este teorema establece que todo polinomio de grado n, donde n es un número natural, tiene al menos
        una raíz compleja. En otras palabras, un polinomio puede ser factorizado en términos de sus raíces complejas.
      </p>
      <h2>Teorema del Resto</h2>
      <p>
        Descripción: El teorema del resto es utilizado para dividir un polinomio P(x) por otro polinomio de la forma (x
        - a), donde 'a' es un número real. El teorema establece que el residuo de la división es igual a P(a). Es decir,
        si P(x) es dividido por (x - a), el residuo es P(a).
      </p>
      <h2>Teorema del Factor</h2>
      <p>
        Descripción: Este teorema se usa para factorizar polinomios en función de sus raíces. Si un polinomio P(x) tiene
        una raíz 'a', entonces (x - a) es un factor de P(x). Esto significa que P(x) puede factorizarse como P(x) = (x -
        a) * Q(x), donde Q(x) es el polinomio resultante después de la división.
      </p>
      <h2>Teorema de Factorización Única</h2>
      <p>
        Descripción: Este teorema establece que cualquier polinomio se puede factorizar de manera única en una
        combinación de factores irreducibles. Estos factores irreducibles son polinomios que no pueden ser descompuestos
        en factores más simples. Es similar al teorema fundamental de la aritmética para números enteros.
      </p>
      <h2>Teorema de Bolzano-Weierstrass</h2>
      <p>
        Descripción: Este teorema se utiliza en el contexto de ceros de polinomios. Establece que si un polinomio tiene
        un cambio de signo en un intervalo [a, b], entonces tiene al menos una raíz real en ese intervalo.
      </p>
      <h2>Teorema de Gauss-Lucas</h2>
      <p>
        Descripción: El teorema de Gauss-Lucas se relaciona con las raíces de un polinomio y sus derivadas. Afirma que
        las raíces de la derivada de un polinomio están contenidas en el convexo envolvente de las raíces del polinomio
        original.
      </p>
    </div>
  </div>
  <div class="input-help">
    <a href="#" class="ejemplo-a">Ver Ejemplo</a>
  </div>
</div>