<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculo para Tontos - Teoremas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="../../css/menu.css">
  <link rel="stylesheet" href="../../css/teoremas.css">
  <link rel="stylesheet" href="../../css/footer.css">
</head>

<body>
  <!-- PORTADA -->
  <header>
    <div class="header-content">
      <div class "logo">
        <img src="../../img/asset/logo-calculoparatontos.png" alt="Logo">
      </div>
    </div>
  </header>
  <!-- MENU -->
  <nav id="fixed-menu">
    <div class="logo-navbar">
      CalculoParaTontos
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a class="active" href="../../index.html">Inicio</a></li>
      <li><a href="teoremas.html">Teoremas</a></li>
      <li><a href="ejemplos.html">Ejemplos</a></li>
      <li><a href="#">Formulas</a></li>
      <li><a href="https://www.mathsisfun.com/calculus/integration-rules.html" target="_blank">Ayuda</a></li>
    </ul>
  </nav>
  <div class="container-page">
    <div class="teoremas">

      <div class="teorema-1">
        <!-- Estos divs no tienen ninguna clase en css, solo los use de identificador, osea que no tienen diseño lo unico que tiene diseño en css es la clase "teoremas"-->

        <div class="encabezado">
          Teorema de Integración
        </div><br>
        <div class="contenido">
          <img class="imagenes" src="../../img/img-teoremas/integracion.jpeg">
        </div><br>
      </div>
      <div class="teorema-2">
        <div class="encabezado">
          Integrales indefinidas Logaritmicas y Exponenciales
        </div><br>
        <div class="contenido">
          <img class="imagenes" src="../../img/img-teoremas/loga_expo.jpeg">
        </div><br>
      </div>
      <div class="teorema-3">
        <div class="encabezado">
          Polinomiales
        </div><br>
        <div class="contenido">
          <img class="imagenes" src="../../img/img-teoremas/polinomiales.jpeg">
        </div><br>
      </div>
      <div class="teorema-4">
        <div class="encabezado">
          Integrales Trigonometricas basicas
        </div><br>
        <div class="contenido">
          <img class="imagenes" src="../../img/img-teoremas/tigonometricas_basicas.jpeg">
        </div><br>
      </div>
    </div>
  </div>
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="../../img/asset/logo-calculoparatontos.png" alt="Logo de CalculoParaTontos">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-google"></a>

        </div>
      </div>
    </div>
    <div class="grupo-2">
      <small>&copy; 2023 <b>CalculoParaTontos</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>
  </div>
</body>
<script src="../../controller/fuctions.js"></script>

</html>