<div class="content-information">
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-integrales/m2.jpeg" alt="Ejemplo 1">
    </div>
    <div class="example-description">
      <h2>Metodo de Sustitucion por Partes</h2>
      <p>Esa nos permite reescribir la integral u dv en donde u es una función diferenciable con facilidad y dv es un integrando sencillo de forma que resulte en uv - /u du en donde: <br>-  u es una función facil de derivar
      - dv es una funcion facil de integrar <br> - v du es mas sencilla que la integral inicial <br> Al escoger u y dv adecuadamente utiliza la palabra ILATE en donde cada letra significa una función, el termino a la izquierda siempre sera u y el término restante dv.</p>
    </div>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-integrales/m2eje1.jpeg" alt="Ejemplo 2">
    </div>
    <div class="example-description">
      <h2>Ejemplo 1</h2>
      <p>Donde u es igual a x y dv es igual a Senxdx para obtener un resultado de -XcosX + senX + C</p>
    </div>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-integrales/m2eje2.jpeg" alt="Ejemplo 2">
    </div>
    <div class="example-description">
      <h2>Ejemplo 2</h2>
      <p>Donde u es igual a x y dv es igual a e°x dx para obtener un resultado de Xe°x - e°x + C</p>
    </div>
  </div>
  <div class="title-graficas">
    <h2>Graficas...</h2>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-primary/portada.jpg" alt="Ejemplo 2">
    </div>
    <div class="img-example">
      <img src="../../img/img-primary/portada.jpg" alt="Ejemplo 2">
    </div>
  </div>
  <div class="input-help">
      <a href="#" class="ejemplo-a">Ver Ejemplo</a>
  </div>
</div>
