<div class="content-information">
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-integrales/m1.jpeg" alt="Ejemplo 1">
    </div>
    <div class="example-description">
      <h2>Método de sustitución</h2>
      <p>Se busca una parte de la función cuya derivada también este en la función. Si no estás seguro de que usar, prueba el denominador o algo que se eleve a una potencia en la función. <br> Esta parte se iguala a U y encuentra el diferencial respecto a la U. Seguido de esyo se usan las expresiones obtenidas para sustituirlas en la integral original.</p>
    </div>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-integrales/m1eje1.jpeg" alt="Ejemplo 2">
    </div>
    <div class="example-description">
      <h2>Ejemplo 1</h2>
      <p>En la integral se sustituye dejando como u a (x+12). De esta forma pasando a sustituir y llegar a una conclusión de se (x+12)°10/(10) + C</p>
    </div>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-integrales/m1eje2.jpeg" alt="Ejemplo 2">
    </div>
    <div class="example-description">
      <h2>Ejemplo 2</h2>
      <p>En la integral se sustituye Sen2x por u, de forma que al aplicar el método y resolver nos da un resultado de Sen°6 2x / 12 + C</p>
    </div>
  </div>
  <div class="title-graficas">
    <h2>Graficas...</h2>
  </div>
  <div class="example-section">
    <div class="img-example">
      <img src="../../img/img-primary/portada.jpg" alt="Ejemplo 2">
    </div>
    <div class="img-example">
      <img src="../../img/img-primary/portada.jpg" alt="Ejemplo 2">
    </div>
  </div>
  <div class="input-help">
      <a href="#" class="ejemplo-a">Ver Ejemplo</a>
  </div>
</div>
