<div class="content-information">
    <div class="example-section">
      <div class="img-example">
        <img src="../../img/img-integrales/m3.jpeg" alt="Ejemplo 1">
      </div>
      <div class="example-description">
        <h2>Metodo de Integracion por sustitucion</h2>
        <p>Este metodo se emplea cuando una funcion a la cual se desea encontrar su integral presenta alguno de los teoremas radicales, los cuales serían la raiz cuadrada de a°2.u°2, a°2+u°2 o u°2-a°2. <br> El objetivo de esto es eliminar el radical del integrando mediante el uso de las identidades pitagóricas.</p>
      </div>
    </div>
    <div class="example-section">
      <div class="img-example">
        <img src="../../img/img-integrales/m3eje1.jpeg" alt="Ejemplo 2">
      </div>
      <div class="example-description">
        <h2>Ejemplo 1</h2>
        <p>Donde a= 3 y u=x se realiza el cambio de variable conforme a la radical que le queda, la cual sería la raiz cuadrada de a°2.u°2 = acos0 para obtener dicho resultado.</p>
      </div>
    </div>
    <div class="example-section">
      <div class="img-example">
        <img src="../../img/img-integrales/m3eje2.jpeg" alt="Ejemplo 2">
      </div>
      <div class="example-description">
        <h2>Ejemplo 2</h2>
        <p>En donde a es igual a 5 y u es igual a x. De forma que se realiza el cambio de variable conforme a la radical (raiz cuadrada de u°2 - a°2) para obtener así un resultado después de guiarse por las razones trigonométricas.</p>
      </div>
    </div>
    <div class="title-graficas">
      <h2>Graficas...</h2>
    </div>
    <div class="example-section">
      <div class="img-example">
        <img src="../../img/img-primary/portada.jpg" alt="Ejemplo 2">
      </div>
      <div class="img-example">
        <img src="../../img/img-primary/portada.jpg" alt="Ejemplo 2">
      </div>
    </div>
    <div class="input-help">
        <a href="#" class="ejemplo-a">Ver Ejemplo</a>
    </div>
  </div>
  